@import "utilities.scss";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--black);
}
header {
  padding: 20px 0;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item-menu {
      .menu {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 30px;
        align-items: center;
        li {
          position: relative;
          a {
            text-decoration: none;
          }
          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -3px;
            width: 4px;
            height: 3px;
            background-color: var(--red);
            border-radius: 10px;
            transition: width 0.3s;
          }
          &:hover {
            &:after {
              width: 50%;
            }
          }
        }
      }
      .socials-mobile {
        display: none;
      }
      .socials-mobile.active {
        display: block;
      }
    }
  }
}
.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    margin-top: 50px;
    .hello-world {
      padding: 8px 16px;
      background-color: var(--gray);
      color: var(--white);
      font-family: "Poppins", Arial, Helvetica, sans-serif;
      font-size: 0.88rem;
      border-radius: 5px;
      font-weight: 300;
    }
  }
  p {
    max-width: 750px;
  }
  .buttons {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    a {
      @media (max-width: 576px) {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
.box-conhecimentos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  .item {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 150px;
    padding: 15px;
    border-radius: 5px;
    transition: 0.3s ease;
    &:hover {
      border: 1px solid var(--red);
    }
  }

  .slick-track {
    display: flex;
    gap: 12px;
  }
}
.projetos {
  .box-projetos {
    .slick-track {
      display: flex;
      gap: 12px;
      &:before {
        content: none;
      }
      .item {
        background-color: var(--gray);
        border: 1px solid var(--gray);
        border-radius: 5px;
        padding: 35px;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.3s ease;
        height: 375px;
        &:hover {
          border: 1px solid var(--red);
        }
        .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          span {
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            color: var(--white);
            font-size: 0.88rem;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.062745098);
          }
        }
        .content {
          .title {
            h3 {
              margin-bottom: 10px;
            }
          }
          a {
            margin-top: 20px;
          }
          .flex-links {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 20px;

            a {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.box-projetos,
.box-conhecimentos {
  .slick-dots {
    position: unset !important;
    margin-top: 40px !important;

    li {
      width: 7px;
      height: 7px;
      transition: ease 0.3s;

      button {
        background-color: var(--white);
        width: 7px;
        height: 7px;
        padding: 0;

        &::before {
          color: transparent;
          width: 40px;
          height: 7px;
        }
      }

      &.slick-active {
        width: 40px;
        height: 7px;

        button {
          background-color: var(--red);
          width: 40px;
          height: 7px;
          padding: 0;

          &::before {
            color: transparent;
            width: 40px;
            height: 7px;
          }
        }
      }
    }
  }
}

// footer {
//   .footer-content {
//     display: flex;
//     justify-content: space-between;
//     gap: 30px;
//     align-items: center;

//     @media (max-width: 756px) {
//         flex-direction: column;
//     }

//     .socials {
//         display: flex;
//         flex-wrap: wrap;
//         gap: 12px;
//     }
//   }
// }

footer {
    background-color: var(--gray);
    padding: 15px 0;

    .copy {
    p {
        text-align: center;

        span {
            color: var(--red);
        }
    }
}
}