:root {
  --white: #f5f5f5;
  --red: #8d1d1d;
  --black: #0e0e0e;
  --gray: #151515;
}

.container {
  margin: 0 auto;

  @media (max-width: 766px) {
    width: 100%;
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    width: 100%;
    max-width: 720px;
  }

  @media (min-width: 992px) {
    width: 100%;
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    width: 100%;
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    width: 100%;
    max-width: 1320px;
  }
}

h1 {
  font-size: 6rem;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--white);
  margin: 0 0 10px 0;

  span {
    font-weight: 600;
    color: var(--red);
  }

  @media (max-width: 765px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.63rem;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--white);
  margin: 0 0 40px 0;

  span {
    font-weight: 600;
    color: var(--red);
    display: inline-block;
  }
}

h3 {
  font-size: 1.25rem;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: var(--white);
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 1rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--white);
  font-weight: 300;
  margin: 0;

  b,
  strong {
    font-weight: 600;
  }
}

h1,
h2,
h3,
p,
span {
  cursor: default;
}

a,
button {
  font-size: 0.88rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: var(--white);
  font-weight: 300;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;

  &.btn-red {
    padding: 15px;
    background-color: var(--red);
    border: 1px solid var(--red);
    text-decoration: none;
    width: max-content;

    &:hover {
      background: transparent;
      border: 1px solid var(--white);
    }
  }

  &.btn-ghost {
    padding: 15px;
    background: transparent;
    border: 1px solid var(--white);
    text-decoration: none;
    width: max-content;

    &:hover {
      border: 1px solid var(--red);
    }
  }
}

section {
  &:not(.banner) {
    padding: 0 0 112px 0;

    @media (max-width: 991px) {
      padding: 0 0 60px 0;
    }
  }
}

